body{
    margin: 0;
    min-height: 100vh;

}
#nav{
    height:fit-content;
    color: aliceblue;
    background-color: rgb(52, 52, 132);
    padding:20px;
    font-size: 1.5rem;

}
#nav-container{
    display: flex;
    justify-content: space-around;
    
}
#nav-links{
    display: flex;
    justify-content: space-between;
}
a{
 color: aliceblue;  
 text-decoration: none; 
 font-size: 1.5rem;
}