#nav-container
{
    display: flex;
    align-items: self-end;
    justify-content: space-between;
    height:fit-content ;
    padding: 20px;
}
#nav{
    /* display:flex; */
   background-color: rgb(54, 54, 142);
   /* justify-content: space-between; */
   height:fit-content;
   color: white;
}
#nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 10%;
}
a{
color:white;
font-size: 2.5 rem;
}
#footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color:rgb(54, 54, 142) ;
    height: fit-content;
    color: white;
    padding: 1.2rem;
}